fastapi
uvicorn
pydantic
python-multipart
pypdf
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-instrumentation-fastapi==0.43b0
langchain
langchain-groq
langgraph
langgraph-checkpoint-postgres
sse-starlette==2.0.0
asyncpg==0.29.0